@inherits System.Web.Mvc.WebViewPage<bool>

@{
    Layout = null;
    ViewBag.Title = "Подтверждение адреса электронной почты";
}

@if (Model)
{
    <h3>
        Подтверждение смены адреса электронной почты прошло успешно.
    </h3>
}
else
{
    <h3>
        Что-то пошло не так :(
    </h3>
}